*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue-1: hsl(217, 28%, 15%);
  --dark-blue-2: hsl(218, 28%, 13%);
  --dark-blue-3: hsl(216, 53%, 9%);
  --dark-blue-4: hsl(219, 30%, 18%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --light-red: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);
}

html {
  font-size: 87.5%;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  background-color: var(--dark-blue-1);
}

a {
  text-decoration: none;
  color: var(--white);
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
p {
  color: var(--white);
  margin-bottom: 1.2rem;
  font-weight: 400;
  text-align: center;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 0.9rem;
}

main {
  width: min(80%, 120rem);
  margin: 0 auto;
}

.logo {
  width: 6rem;
  height: 1.7rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
}

header ul {
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 0.85rem;
}

header li {
  margin-right: 1rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  padding: 2rem 0;
  /* background: url(/images/bg-curvy-mobile.svg);
  background-repeat: no-repeat;
  background-position: center; */
}

.hero img {
  width: 18rem;
  margin-bottom: 2rem;
}
