*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue-1: hsl(217, 28%, 15%);
  --dark-blue-2: hsl(218, 28%, 13%);
  --dark-blue-3: hsl(216, 53%, 9%);
  --dark-blue-4: hsl(219, 30%, 18%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --light-red: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);
}

html {
  font-size: 87.5%;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  background-color: var(--dark-blue-1);
}

a {
  text-decoration: none;
  color: var(--white);
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
p,
span {
  color: var(--white);
  margin-bottom: 1.2rem;
  text-align: center;
}

h1 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 30px;
}

h2 {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 30px;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 30px;
}

p {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 20px;
}

span {
  font-size: 0.6rem;
}

button {
  width: 250px;
  padding: 1rem;
  border-radius: 50px;
  border: none;
  color: var(--white);
  background-image: linear-gradient(to right, var(--cyan), var(--blue));
  font-size: 1rem;
}

.content {
  width: min(80%, 120rem);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 6rem;
  height: 1.7rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
}

header ul {
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 0.85rem;
}

header li {
  margin-right: 1rem;
}

.hero {
  height: 100vh;
  padding-top: 5rem;
  /* TODO */
  /* background: url(/images/bg-curvy-mobile.svg);
  background-repeat: no-repeat;
  background-position: center; */
}

.hero img {
  width: 18rem;
  margin-bottom: 2rem;
}

.features {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--dark-blue-2);
  padding: 3rem 0;
}

.features--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.features--card img {
  width: 4rem;
  margin-bottom: 2rem;
}

.team {
  background-color: var(--dark-blue-2);
  padding: 5rem 0;
}

.team img:first-child {
  width: 18rem;
  margin-bottom: 2rem;
}

.team--text h2,
p {
  text-align: left;
}

.team--text a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10rem;
  border-bottom: 1px solid var(--cyan);
  padding-bottom: 5px;
}

.team--text a > p {
  color: var(--cyan);
  margin-bottom: 0;
}

.team--text a > img {
  width: 1.5rem;
  height: 1.5rem;
}

.comments {
  background-color: var(--dark-blue-2);
  padding: 4rem 0;
}

.comments--card {
  background-color: var(--dark-blue-4);
  margin-bottom: 2rem;
  border-radius: 5px;
  padding: 1.5rem;
}

.comments--card > img {
  position: relative;
  top: -2.7rem;
  left: -1rem;
  width: 2rem;
}

.comments--card p,
h3 {
  font-size: 0.8rem;
}

.comments--card__profile {
  display: flex;
  align-items: center;
}

.comments--card__profile img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.comments--card__profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comments--card__profile-info h3,
span {
  margin-bottom: 0;
  line-height: 1.2rem;
}
